[submodule "hyperkit"]
	path = hyperkit
	url = git@github.com:moby/hyperkit.git
[submodule "vpnkit"]
	path = vpnkit
	url = git@github.com:moby/vpnkit.git
[submodule "datakit"]
	path = datakit
	url = git@github.com:moby/datakit.git
